.panel-default>.panel-heading.auth-title {
    background-color: #3c8dbc;
    color: white;
}
.auth-block {
    margin: 115px 0;
    border-radius: 0;
}

.panel-default > .panel-heading.auth-title{
    border-radius: 0;
}
body {
    background-color: #777;
}