<!-- AJAX COMPLEX CONTAINER -->
<div class="complex-container" id="complex-container">
    <form action="#" class="filter-form">
        <div class="filters-wrap">
            <div class="select-row">
                <select class="md-select types-complex-select" name="" id="">
                    <option value="">Для детей</option>
                    <option value="">Для взрослых</option>
                    <option value="">Для женщин</option>
                    <option value="">Для мужчин</option>
                    <option value="">Дизайна нет</option>
                    <option value="">Придумываю сам</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row row--link">
        <a href="#" class="question-link">Задать вопрос</a>
        <a href="#" class="write-link">Записаться</a>
    </div>
    <div class="content-container">
        <div class="content-box content-box--complex">
            <div class="wrap-img">
                <img src="img/doctor-04.jpg" alt="">
            </div>
            <div class="content-box__bottom">
                <h3 class="complex-name">
                    Название программы
                </h3>
                <h4 class="complex-name--desc">
                    Тут должно быть описание программы
                </h4>
            </div>
        </div>
        <div class="content-box content-box--complex">
            <div class="wrap-img">
                <img src="img/doctor-04.jpg" alt="">
            </div>
            <div class="content-box__bottom">
                <h3 class="complex-name">
                    Название программы
                </h3>
                <h4 class="complex-name--desc">
                    Тут должно быть описание программы
                </h4>
            </div>
        </div>
    </div>
    <a href="#" class="waves-effect waves-dark more-btn">
        Еще
    </a>
</div>
<!-- AJAX COMPLEX CONTAINER -->