<!-- AJAX CONSULTATION CONTAINER -->
<div class="consultation-container" id="consultation-container">
    <form action="#" class="filter-form">
        <div class="filters-wrap">
            <div class="radio-row">
                <input class="md-radio" id="child" name="age" type="radio"><label for="child"
                                                                                  class="md-radio-label pull-left">детский</label>
                <input class="md-radio" id="adult" name="age" type="radio"><label for="adult"
                                                                                  class="md-radio-label pull-right">взрослый</label>
            </div>
            <div class="select-row">
                <select class="md-select specialization-select" name="" id="">
                    <option value="">Офтальмолог</option>
                    <option value="">Гинеколог</option>
                    <option value="">Педиатр</option>
                    <option value="">ЛОР</option>
                    <option value="">Психотерапевт</option>
                    <option value="">Травматолог</option>
                    <option value="">Уролог</option>
                </select>
            </div>
        </div>
    </form>
    <div class="content-container">
        <a href="specialist-page.html" class="content-box content-box--doctors">
            <div class="wrap-img wrap-img--circle">
                <img src="img/doctor-01.jpg" alt="">
            </div>
            <h3 class="doctor-name">
                Анна Сергеевна Рузматова
            </h3>
            <h4 class="doctor-name--prof">
                Старший врач
            </h4>
        </a>
        <a href="specialist-page.html" class="content-box content-box--doctors">
            <div class="wrap-img wrap-img--circle">
                <img src="img/doctor-01.jpg" alt="">
            </div>
            <h3 class="doctor-name">
                Анна Сергеевна Рузматова
            </h3>
            <h4 class="doctor-name--prof">
                Старший врач
            </h4>
        </a>
    </div>
    <a href="#" class="waves-effect waves-dark more-btn">
        Еще
    </a>
</div>
<!-- AJAX CONSULTATION CONTAINER -->