<ul class="doctors-list">
    <li class="doctors-list__item">
        <label for="qq" class="doctor-info">
            <span class="doctor-spec">
                Стоматолог
            </span>
            <span class="doctor-name">
                Анна Сергеевна Рузматова
            </span>
            <span class="doctor-time">
                Вторник 11 июня (сегодня)
            </span>

        </label>
        <input type="radio" hidden name="choice-doctor" id="qq">
    </li>
    <li class="doctors-list__item">
        <label for="qq" class="doctor-info">
            <span class="doctor-spec">
                Стоматолог
            </span>
            <span class="doctor-name">
                Анна Сергеевна Рузматова
            </span>
            <span class="doctor-time">
                Вторник 11 июня (сегодня)
            </span>

        </label>
        <input type="radio" hidden name="choice-doctor" id="qq">
    </li>
</ul>

