<!-- AJAX MAIN-ACCOUNT CONTAINER -->
<div class="choice-wrap account-container" id="account-checkout">

    <div class="choice-step choice-step--three">
        <ul class="choice-step__list">
            <li class="choice-step__item">
                <a href="#">Шаг 1. Выбор врача</a>
            </li>
            <li class="choice-step__item">
                <a href="#">Шаг 2. Выбор времени</a>
            </li>
        </ul>
        <form action="#" class="filter-form">
            <div class="filters-wrap">
                <div class="select-row">
                    <select class="md-select day-select" name="" id="">
                        <option value="">10 июня - 16 июня</option>
                        <option value="">18 июня - 25 июня</option>
                        <option value="">10 июня - 16 июня</option>
                        <option value="">18 июня - 25 июня</option>
                        <option value="">10 июня - 16 июня</option>
                        <option value="">18 июня - 25 июня</option>
                    </select>
                </div>
            </div>
        </form>
        <ul class="nav-tabs tabs-up">
            <li><a href="ajax/tabs/datepick.html" data-target="#monday" class="media_node disabled " id="monday_tab"
                   data-toggle="tabajax" rel="tooltip"> Пн </a></li>
            <li><a href="ajax/tabs/datepick2.html" data-target="#tuesday" class="media_node" id="tuesday_tab"
                   data-toggle="tabajax" rel="tooltip"> Вт</a></li>
            <li><a href="ajax/tabs/datepick3.html" data-target="#wednesday" class="media_node" id="wednesday_tab"
                   data-toggle="tabajax" rel="tooltip">Ср</a></li>
            <li><a href="ajax/tabs/datepick.html" data-target="#thursday" class="media_node" id="thursday_tab"
                   data-toggle="tabajax" rel="tooltip"> Чт </a></li>
            <li><a href="ajax/tabs/datepick2.html" data-target="#friday" class="media_node" id="friday_tab"
                   data-toggle="tabajax" rel="tooltip"> Пт</a></li>
            <li><a href="ajax/tabs/datepick3.html" data-target="#saturday" class="media_node" id="saturday_tab"
                   data-toggle="tabajax" rel="tooltip">Сб</a></li>
            <li><a href="ajax/tabs/datepick3.html" data-target="#sunday" class="media_node" id="sunday_tab"
                   data-toggle="tabajax" rel="tooltip">Нд</a></li>

        </ul>

        <div class="tab-content">
            <form action="#" class="time-line-wrap">
                <ul class="time-line">
                    <li class="disabled">
                        <input type="radio" hidden name="time" id="qq">
                        <label for="qq">14:30</label>
                    </li>
                    <li class="disabled">
                        <input type="radio" hidden name="time" id="jj">
                        <label for="jj">15:00</label>
                    </li>
                    <li>
                        <input type="radio" hidden name="time" id="mm">
                        <label for="mm">15:30</label>
                    </li>
                    <li>
                        <input type="radio" hidden name="time" id="bb">
                        <label for="bb">16:00</label>
                    </li>
                    <li class="disabled">
                        <input type="radio" hidden name="time" id="vv">
                        <label for="vv">16:30</label>
                    </li>
                    <li>
                        <input type="radio" hidden name="time" id="cc">
                        <label for="cc">17:00</label>
                    </li>
                    <li>
                        <input type="radio" hidden name="time" id="xx">
                        <label for="xx">17:30</label>
                    </li>
                    <li class="disabled">
                        <input type="radio" hidden name="time" id="zz">
                        <label for="zz">18:00</label>
                    </li>
                </ul>
            </form>
            <div class="tab-pane" id="monday">

            </div>
            <div class="tab-pane" id="tuesday">

            </div>
            <div class="tab-pane" id="wednesday">

            </div>
            <div class="tab-pane" id="thursday">

            </div>
            <div class="tab-pane" id="friday">

            </div>
            <div class="tab-pane" id="saturday">

            </div>
            <div class="tab-pane" id="sunday">

            </div>
        </div>
        <div class="submit-row">
            <a href="#" class="link-back waves-effect waves-light btn-transparent"></a>
            <input type="submit" value="Готово" class="ready-state waves-effect waves-light btn disabled" disabled>
        </div>
    </div>

</div>
<!-- AJAX MAIN-ACCOUNT CONTAINER -->