<!-- AJAX MAIN-ACCOUNT CONTAINER -->
<div class="choice-wrap account-container" id="account-checkout">

    <div class="choice-step choice-step--two">
        <ul class="choice-step__list">
            <li class="choice-step__item">
                <a href="#">Шаг 1. Выбор врача</a>
            </li>
            <li class="choice-step__item">
                <a href="#">Шаг 2. Выбор времени</a>
            </li>
        </ul>
        <form action="#" class="filter-form">
            <div class="filters-wrap">
                <div class="select-row">
                    <select class="md-select specialization-select" name="" id="">
                        <option value="">Офтальмолог</option>
                        <option value="">Гинеколог</option>
                        <option value="">Педиатр</option>
                        <option value="">ЛОР</option>
                        <option value="">Психотерапевт</option>
                        <option value="">Травматолог</option>
                        <option value="">Уролог</option>
                    </select>
                </div>
            </div>
        </form>
        <ul class="doctors-list">
            <li class="doctors-list__item">
                <label for="qq" class="doctor-name">
                    Анна Сергеевна Рузматова
                </label>
                <div class="doctor-range">
                    Старший врач
                </div>
                <input type="radio" hidden name="choice-doctor" id="qq">
            </li>
            <li class="doctors-list__item">
                <label for="ww" class="doctor-name">
                    Анна Сергеевна Рузматова
                </label>
                <div class="doctor-range">
                    Старший врач
                </div>
                <input type="radio" hidden name="choice-doctor" id="ww">
            </li>
        </ul>
        <a href="#" class="waves-effect waves-light btn">Далее</a>
    </div>

</div>
<!-- AJAX MAIN-ACCOUNT CONTAINER -->