<!-- AJAX PHOTO CONTAINER -->
<div class="photo-container" id="photo-container">
    <form action="#" class="filter-form">
        <div class="filters-wrap">
            <div class="select-row">
                <select class="md-select types-photo-select" name="" id="" data-placeholder="Наша команда">
                    <option>Отделение</option>
                    <option>Больница</option>
                    <option>Еще что-то</option>
                    <option>И еще вот это вот</option>
                </select>
            </div>
        </div>
    </form>
    <div class="content-container">
        <div class="content-box content-box--photo">
            <a href="#" class="wrap-img">
                <img src="img/doctor-02.jpg" alt="">
            </a>
            <div class="content-box__bottom--simple">
                <h3 class="photo-name">
                    Название события
                </h3>
                <span class="photo-name--desc">
                    2 мая 2016
                </span>
                <span class="photo-qnt">26 фотографий</span>
            </div>
        </div>
        <div class="content-box content-box--photo">
            <a href="#" class="wrap-img">
                <img src="img/doctor-02.jpg" alt="">
            </a>
            <div class="content-box__bottom--simple">
                <h3 class="photo-name">
                    Название события
                </h3>
                <span class="photo-name--desc">
                    2 мая 2016
                </span>
                <span class="photo-qnt">26 фотографий</span>
            </div>
        </div>
    </div>
    <a href="#" class="waves-effect waves-dark more-btn">
        Еще
    </a>
</div>
<!-- AJAX PHOTO CONTAINER -->