<!-- AJAX SALES CONTAINER -->
<div class="sales-container" id="sales-container">
    <form action="#" class="filter-form">
        <div class="filters-wrap">
            <div class="select-row">
                <select class="md-select types-sales-select" name="" id="" data-placeholder="Статьи">
                    <option>Отделение</option>
                    <option>Больница</option>
                    <option>Еще что-то</option>
                    <option>И еще вот это вот</option>
                </select>
            </div>
        </div>
    </form>
    <div class="content-container">
        <div class="content-box content-box--sales">
            <a href="#" class="wrap-img">
                <img src="img/doctor-04.jpg" alt="">
            </a>
            <div class="content-box__bottom">
                <h3 class="sales-name">
                    Название акции
                </h3>
                <span class="sales-name--desc">
                    До 2 мая 2016
                </span>
                <div class="sales-text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                    aperiam atque autem beatae dolor dolore eaque earum eos ex facilis id ipsam laboriosam laborum nam
                    neque obcaecati odio officiis omnis qui quibusdam quisquam rem, sint voluptatum! Corporis dolore
                    dolores eum facere ipsa, magnam nulla praesentium repellat vel veniam? Distinctio, tenetur!
                </div>
                <a href="#" class="read-more-about">Узнать больше...</a>
            </div>
        </div>
        <div class="content-box content-box--sales">
            <a href="#" class="wrap-img">
                <img src="img/doctor-04.jpg" alt="">
            </a>
            <div class="content-box__bottom">
                <h3 class="sales-name">
                    Название акции
                </h3>
                <span class="sales-name--desc">
                    До 2 мая 2016
                </span>
                <div class="sales-text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                    aperiam atque autem beatae dolor dolore eaque earum eos ex facilis id ipsam laboriosam laborum nam
                    neque obcaecati odio officiis omnis qui quibusdam quisquam rem, sint voluptatum! Corporis dolore
                    dolores eum facere ipsa, magnam nulla praesentium repellat vel veniam? Distinctio, tenetur!
                </div>
                <a href="#" class="read-more-about">Узнать больше...</a>
            </div>
        </div>
    </div>
    <a href="#" class="waves-effect waves-dark more-btn">
        Еще
    </a>
</div>
<!-- AJAX SALES CONTAINER -->